*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
font-family: 'Ubuntu', sans-serif;
color:#ffffff;
font-size:14px;
}

/* DEFAULTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');



/* ========================================================================== */
body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;

  background: hsl(0 0% 98%);
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}

h1 {
  color: hsla(32 50% 50% / .8);

  position: fixed;
  left: -100px;
  top: 50%;
  margin: 0;

  transform: rotate(-90deg) translateY(-50%);
}


.form-container{
    display: flex;
    max-width: 100%;
}

form{
    margin: 0 15px 0 auto;
    padding:30px;
    max-width: 500px;
    height:auto;
    text-align:center;
    background-image: linear-gradient(#8ab661,#61b15a);
    border-radius:15px;

    /*box-shadow: 0px 0px 6px 0px;*/
}

/*input .form-input, .form-input{
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    border:none;
    width: 100%;
    margin:0 auto;
    margin-bottom:5px;
}*/

input:focus-visible{
    border:none;
    border-radius: none;
    background-color:unset
}
input.recette-input {
margin: 0 auto;
 }
 .recette-input::placeholder {
    color: #fff;
 }
 .recette-input:-ms-input-placeholder {
    color: #fff;
 }
 .recette-input::-ms-input-placeholder {
    color: #fff;
 }
  

.recette-input{
    background-color: unset;
    font-style: italic;
    border:0px;
    padding-left: 5px;
    border-bottom:solid 1px #e0e6e6;
    width: 100%;
    margin:0 auto;
    margin-bottom:5px;
    height: 25px;
}

.form-input{
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 15px;
    height:auto;
}
.input-line{
    padding:5px 0;
    display:inline-flex;
    width:100%;
    border-bottom:solid 1px #a5aab1;
    color:#a5aab1;
}

p#description{
    margin: 25px 0 35px;
    text-align: justify;
    font-weight: lighter;
}

.search-input{
    width:100%;
 margin: 0 auto;
    height: auto;
    background-color: unset;
    border:none;
    font-style: italic;
}

.search-input::placeholder,.qtit::placeholder {
    color: #a5aab1;
 }
 .search-input :-ms-input-placeholder,.qtit :-ms-input-placeholder {
    color: #a5aab1;
 }
 .search-input::-ms-input-placeholder,.qtit ::-ms-input-placeholder {
    color: #a5aab1;
 }

 .qtit{
     width:20px;
     border:none;
 }
 
 button.check{
     padding:0 5px 0 10px;
border:none;
color:#a5aab1;
background-color: unset;
font-weight: bold;
border-left:solid 1px #a5aab1;
 }

#ingList{
    padding-top:10px;
    height: 100px;
    overflow-y:scroll;
    text-align: left;
}

#ingList a{
color: #a5aab1;
text-decoration: none;
}

table{
    width:100%;
    text-align:left;
    border-collapse: collapse;
}

th{
    padding: 20px 5px;
}

tr{
    border-bottom:solid 0.2px #e0e6e6;
}

td{
    padding:5px;
}

button.valider{
    margin-top: 25px;
    padding:10px;
    border-radius: 25px;
    background-color:#8ab661;
    border:solid 1px #e0e6e6;
    color:#fff;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

button.valider:hover{
    background-color:#61b15a;
    color:#e0e6e6;
    box-shadow: none;
}

.r-section{
    display: flex;
    margin: 0 auto 0 0;
  max-width: 50%;
}

.total-reciep{
    padding: 30px;
    width:100%;
    background-image: linear-gradient(#8ab661,#61b15a);
    border-radius:15px;
}


/* Tablet */
@media (max-width:600px) {
    form {
        max-width:80%;
    }
}