body{
    margin: 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight:400;
    color:#1a1d1e;
    background-color: #FFD37D;
}

.container{
    margin:30px 20px;
}

.logo{
    display: block;
    width:150px;
    height:150px;border-radius:100px;background-color:white;margin:0 auto 50px;
    background-image: url("tempImages/asset.png");
    background-size: cover;
}

h1{
    font-family:Averia Serif Libre;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

p{
    text-align: center;
    padding-bottom: 50px;
}

a{
    all:unset;
}

.centerBtns{
    display: grid;
    justify-content: center;
    margin:0 auto;
}

button{
    border-radius:25px;
    padding: 10px 25px;
    margin: 0 5px;
    width: 100px;
    text-align: center;
    -moz-box-shadow:2px 2px 2px rgba(26, 26, 30, 0.2);
-webkit-box-shadow:2px 2px 2px rgba(26, 26, 30, 0.2);
box-shadow:2px 2px 2px rgba(26, 26, 30, 0.2);
transition:0.2s;
}

button:hover{
    transition:0.2s;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none
}

button#btnFull{
    transition:0.2s;
    background-color: #927dff;
    color:#f0f1f5;
    border:none;
}
button#btnFull:hover{
    transition:0.2s;
    background-color: #e65444;
    color:#f0f1f5;
}

button#btnEmpty{
    transition:0.2s;
    background-color: #f0f1f5;
    color:#927dff;
    border: none;
}

button#btnEmpty:hover{
    transition:0.2s;
    background-color: #e65444;
    color:#f0f1f5;
}

@media only screen and (min-width: 768px) {
    .container {
      margin:20px 20%;
    }
  }

  form{
    margin:0 auto;
  }

input{
    all:unset;
margin:4px 0 10px;
padding-left: 10px;
    border-radius: 25px;
    background-color: #FFEAC2;
}

