<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
</head>
<body>
<h1>Create Event</h1>
<form method ="post" th:action="@{createEvent}" th:object ="${eventForm}" >

    <br>
    <label for="date1ID"> First date</label>
    <input type="date" id="date1ID" required th:field="*{date}">
    <br>
    <label for="numberParticipantsID">Number of Participants</label>
    <input type="number" id="numberParticipantsID" required  th:field="*{numberOfParticipants}">
    <br>
    <label for="kitchenAdressID">Adress of your Kitchen</label>
    <input type="text" id="kitchenAdressID" required  th:field="*{kitchenAdress}">
    <br>
    <label for="kitchenImageID">Picture of your Kitchen</label>
    <input type="text" id="kitchenImageID" required  th:field="*{kitchenImage}">
    <br>


    <button type="submit">Create Event </button>
</form>

</body>
</html>