<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--External Links-->
    <link rel="stylesheet" th:href="@{css\style.css}" href="..\..\static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
    <title>Create Event</title>
</head>
<body>
    <nav class="navBar">
        <div class="navLinks">
        <a class="pageLink" onclick="window.location.href='../home.html';" th:onclick="|window.location.href='@{/home}'| "><h1>Home</h1></a>
        <a class="logoutBtn"  onclick="window.location.href='../index.html';" th:action="@{/logout}" method="post">Logout</a>
    </div>
</nav>
<div class="container">
    <h2>Create Event</h2>
<form method ="post" th:action="@{createEvent}" th:object ="${eventForm}" enctype="multipart/form-data">
    <label for="titleID"> Choose a title for your event</label>
    <input type="text" id="titleID" required th:field="*{title}">
    <span class="inlineFlex"><label class="colHalf" for="dateID"> Choose a date</label><label class="colHalf" for="numberParticipantsID">Participants</label>
 </span>
    <span class="inlineFlex">
        <input class="colHalf" type="date" id="dateID" required th:field="*{date}">
        <input class="colHalf" type="number" id="numberParticipantsID" required  th:field="*{numberOfParticipants}"></span>
    </span>
    <span class="inlineFlex">
        <label class="colHalf" for="kitchenAdressID">In which district is your kitchen located ?</label>
        <label for="kitchenImageUrlID">Upload kitchen image</label>
    </span>
    <span class="inlineFlex">
        <input class="colHalf" type="number" id="kitchenAdressID" required  th:field="*{kitchenAdress}">
        <input type="file" id="KitchenImageUrlID" name="kitchenImageURL" th:field="*{kitchenImage}" required>
        <button type="button" class="btnEmpty" onclick="document.getElementById('KitchenImageUrlID').click()">Choose File</button>
        
    </span>
   


    
    <label for="kitchenDescription">Describe your event</label>
    <textarea type="text" rows="4" id="kitchenDescription" required  th:field="*{kitchenDescription}"></textarea>
    <button onclick="window.location.href='../recipePages/addRecipe.html';" class="btnFull" type="submit">Create Event </button>
</form>
</div>
</body>
</html>