<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
    <h1 th:text="${event.title}"> Event Example</h1>

    <div>
        <img th:src="@{event.kitchenImage}" src="https://th.bing.com/th/id/OIP.2VuON7jUjFuVi5XHJLMS5QHaE7?w=268&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7">
    </div>
    <div>
        <h2> When is the event ?</h2>
        <span th:text="${event.date}"> 05.03.2023</span>
    </div>
    <div>
        <h2> Who participates ?</h2>
        <span th:text="${event.numberOfParticipants+'/'+event.maxNumberOfParticipants+' participants'}"> 5/6 participants </span>
        <div th:each="recipe:${recipes}">
            <div>
                <img th:src="@{/images/__${recipe.image}__}" src="https://th.bing.com/th/id/OIP.2VuON7jUjFuVi5XHJLMS5QHaE7?w=268&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7">
                <span th:text="${recipe.chef+' is going to cook '+recipe.title}">Yannick is going to cook Lasagne</span>
            </div>


        </div>
    </div>


    <form th:if ="${showJoinEvent}" method="post" th:action="@{{eventId}/joinEvent(eventId=${event.id})}">

        <button type="submit" >Join event</button>
    </form>

    <br>
    <button type="button"><a th:href="@{/home}" href="../home.html">back</a></button>
    </br>




    </body>